.page-signin {
  display: flex;
  height: calc(100vh - 5.5rem);
  min-height: 700px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

nav {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
  background-color: #007bff;
}

nav img {
  margin-left: 1.5rem!important;
  vertical-align: center;
  width: 72px;
  height: auto;
}

nav button {
  float: right;
  margin: 1rem 1rem 1rem 0;
  position: relative;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: #f5f5f5;
  transition: border-color .15s ease-in-out;
}

nav button:hover {
  border: 1px solid #f5f5f5;
}

.text-center {
  text-align: center!important;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 40px rgba(0,0,0,0.12);
  border-radius: 5px;
  border: transparent 0 solid;
  justify-content: center;
}

.form-signin img {
  margin-bottom: 1.5rem!important;
  vertical-align: center;
  width: 72px;
  height: auto;
}

.components-signin {
  padding: 75px 30px 75px 30px;
}

.form-singin .inputs {
  padding-top: 50px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="textFirst"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="textLast"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="email"] {
  margin: 10px 0px 10px 0px;
}

.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[placeholder="Password Confirm"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.form-signin input[id='LoginPassword'] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.form-signin button {
  margin: 10px 5px 10px 5px;
  width: 46%;
}